html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#chart-container {
  overflow-x: auto;
  position: relative;
  margin-bottom: -120px;
  height: 100%;
  text-align: center;
}
.chart-switch {
    position: absolute;
    top: 60px;
    right: 30px;
    z-index: 1111;
}

/* styles of background map */
.backgroundMap {
  position: absolute;
  opacity: 0.3;
}

.map-stroke {
  fill: none;
}

.map-fill {
  fill: #fff;
}

.map-land {
  fill: #90bbfd;
}

.map-boundary {
  fill: none;
  stroke: #fff;
}

.mask {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9999;
    text-align: center;
    background-color: #000;
    opacity: 0.3;
}
.mask p {
    position: absolute;
    top: 40%;
    left: 45%;
    color: #fff;
    font-size: 24px;
}
