#chart-container {
  position: absolute;
  top: 10px;
  left:40px;
  height: auto;
  max-height: 330px;
  width: calc(100% - 80px);
  z-index: 1;
  border-color: rgba(217, 83, 79, 0.9);
}

.orgchart {
  background: rgba(255,255,255,0.75);	
}