#chart-container {
  background-color: #eee;
  height: 300px;
}
.orgchart {
  background: #fff;
}

.orgchart .node {
  width: 180px;
}

.orgchart .node .title {
  font-size: 24px;
  height: 30px;
  padding-top: 4px;
}

.orgchart .node .title .symbol {
  margin-top: 1px; 
}

.edit-panel {
  position: relative;
  left: 10px;
  width: calc(100% - 20px);
  border-radius: 4px;
  float: left;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  font-size: 24px;
}

.edit-panel input {
  font-size: 24px;
  width: 180px;
}

.edit-panel.first {
  background-color: #337ab7;
  margin-top: 15px;
}

.edit-panel.second {
  background-color: #449d44;
}

.edit-panel label {
  font-weight: bold;
}

#selected-node, .new-node {
  margin-right: 20px;
}

.edit-panel button {
  color: #333;
  background-color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-panel button:hover,.edit-panel button:focus,.edit-panel button:active {
  border-color: #eea236;
  box-shadow:  0 0 10px #eea236;
}

#new-nodelist {
  display: inline-block;
  list-style:none;
  margin: 0;
  padding: 0;
}

#node-type-panel {
  position: relative;
  top: 5px;
}

#node-type-panel input[type='radio'] {
  display: inline-block;
  height: 28px;
  width: 28px;
}

#node-type-panel input[type='radio']+label {
  vertical-align: super;
}

#btn-add-node {
  margin-left: 20px;
}