.orgchart {
  background: #fff;
}
.orgchart .node.matched {
  background-color: rgba(238, 217, 54, 0.5);
}
#edit-panel {
  text-align: center;
  position: relative;
  left: 10px;
  width: calc(100% - 40px);
  border-radius: 4px;
  float: left;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  background-color: #449d44;
}
#edit-panel * {
  font-size: 20px;
}