html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  text-align: center;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#chart-container {
  position: relative;
  display: inline-block;
  top: 10px;
  height: 420px;
  width: calc(100% - 20px);
  border: 2px dashed #aaa;
  border-radius: 5px;
  overflow: auto;
  text-align: center;
}

/* styles of background map */
.backgroundMap {
  position: absolute;
  opacity: 0.3;
}

.map-stroke {
  fill: none;
}

.map-fill {
  fill: #fff;
}

.map-land {
  fill: #90bbfd;
}

.map-boundary {
  fill: none;
  stroke: #fff;
}
